@import "tailwindcss";

:root{
    --color-primary:#F5ECD5;
    --color-secondary:#393E46;
    --primary-font :#EFEEEA;
}

/* hide scrollbars across browsers */
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scroll {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

iframe {
  pointer-events: none;
}
@layer base{
  body{
    @apply bg-white overflow-x-hidden h-screen relative font-sans;
  }
}