@import "tailwindcss";

:root{
    --color-primary:#F5ECD5;
    --color-secondary:#393E46;
    --primary-font :#EFEEEA;
}

/* hide scrollbars across browsers */
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scroll {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

iframe {
  pointer-events: none;
}
@layer base{
  body{
    @apply bg-white overflow-x-hidden h-screen relative font-sans;
  }
}
.hex{
  width: 240px;               /* any size */
  aspect-ratio: 1 / 1;        /* keep it square */
  overflow: hidden;
  clip-path: polygon(
    25% 5%, 75% 5%,
    100% 50%,
    75% 95%, 25% 95%,
    0% 50%
  );
}
.hex > img{
  width: 100%;
  height: 100%;
  object-fit: cover;          /* fill the shape nicely */
  display: block;
}
